<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}SafeVision{% endblock %}</title>

    <!-- CSS Files -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/common.css') }}"
    />
    {% block css %}{% endblock %}

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&family=Roboto:wght@100..900&family=Smooch+Sans:wght@100..900&family=VT323&display=swap"
      rel="stylesheet"
    />

    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/57a0898944.js"
      crossorigin="anonymous"
    ></script>

    {% block head_scripts %}{% endblock %}
  </head>
  <body>
    <!-- Preloader -->
    <div id="preloader">
      <div class="loader"></div>
    </div>

    {% include 'components/navbar.html' %}

    <main>{% block content %}{% endblock %}</main>

    {% block footer %}{% endblock %}

    <!-- Common Scripts -->
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
