{% extends 'layout.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div class="form-container">
  <h2>Sign Up</h2>
  <form method="post">
    {{ form.hidden_tag() }}
    <div>
      {{ form.email.label }}<br>
      {{ form.email(size=32) }}
    </div>
    <div>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}
    </div>
    <div>
      {{ form.confirm_password.label }}<br>
      {{ form.confirm_password(size=32) }}
    </div>
    <div>
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>
{% endblock %}
